<div class="row">
    <h1>Experiencia Laboral</h1>
    <div class="col-lg-10" id="experiencia">
        <ul>
            <li>
                <h1>Trabajo 1</h1> - <h3>(years)</h3>
            </li>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Suscipit similique quaerat atque ipsum voluptatem dolore 
                ipsa non voluptates obcaecati est facilis, accusantium 
                corporis recusandae numquam, velit dolores, eligendi sint ad.
            </p>
        </ul>
        <ul>
            <li>
                <h1>Trabajo 2</h1> - <h3>(years)</h3>
            </li>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Suscipit similique quaerat atque ipsum voluptatem dolore 
                ipsa non voluptates obcaecati est facilis, accusantium 
                corporis recusandae numquam, velit dolores, eligendi sint ad.
            </p>
        </ul>
        <ul>
            <li>
                <h1>Trabajo 3</h1> - <h3>(years)</h3>
            </li>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Suscipit similique quaerat atque ipsum voluptatem dolore 
                ipsa non voluptates obcaecati est facilis, accusantium 
                corporis recusandae numquam, velit dolores, eligendi sint ad.
            </p>
        </ul>
    </div>
</div>
