<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" id="perfil">
        <img src="../../../assets/fotoperfil.jpg" class="img-fluid" id="foto" alt="">
    </div>
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
        <p><h2>Pablo A. Tapia</h2>
        <p><h2>Full Stack Developer Jr</h2>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Acerca de Mi</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Quo harum deleniti excepturi mollitia! Sapiente molestias 
                at saepe aliquam ipsam sed officiis unde consequatur delectus 
                blanditiis optio animi soluta, reprehenderit itaque.
            </p>
        </span>
    </div>
</div>
