<div>
    <a href="https://es-la.facebook.com/" aria-label="facebook"><img src="../../../assets/facebook.png" id="facebook" alt=""></a>
    <a href="https://github.com/" aria-label="github"><img src="../../../assets/github.png" id="github" alt=""></a>
    <a href="https://www.instagram.com/" aria-label="instagram"><img src="../../../assets/instagram.png" id="instagram" alt=""></a>
    <a href="https://ar.linkedin.com/" aria-label="linkedin"><img src="../../../assets/linkedin.png" id="linkedin" alt=""></a> 
</div>
